logs
project/project
project/target
target
tmp
.history
dist
/.idea
/ui/.idea
/*.iml
/out
/ui/.idea_modules
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin
/node_modules

#ruby
.bundle
