@()(implicit request: RequestHeader, messages: Messages)

@import b3.inline.fieldConstructor
@import forms.BookClubForm.form

<fieldset class="col-md-6 col-md-offset-3" ng-controller="BookClubNewCtrl">
    <legend >@Messages("book.creation.header")</legend>
    <form name="form" id="sign-up-form" ng-submit="submit()" ng-model-options="{ updateOn: 'submit blur' }" autocomplete="off">

        @b3.text(form("name"), '_hiddenLabel -> Messages("book.name"), 'placeholder -> Messages("book.name"), 'class -> "form-control input-lg", 'required -> "", Symbol("ng-model") -> "name")
        <div class="help-block text-danger" ng-if="form.name.$dirty" ng-messages="form.name.$error">
            <div ng-message="required">@Messages("error.required")</div>
        </div>

        @b3.text(form("about"), '_hiddenLabel -> Messages("about"), 'placeholder -> Messages("about"), 'class -> "form-control input-lg", 'required -> "", Symbol("ng-model") -> "about")
        <div class="help-block text-danger" ng-if="form.about.$dirty" ng-messages="form.about.$error">
            <div ng-message="required">@Messages("error.required")</div>
        </div>
        <div class="form-group">
            <button ng-disabled="form.$invalid" id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("sign.up")</button>
        </div>
    </form>
</fieldset>
